###############################################################################
# Local-only builds — no remote interaction
build:local --disk_cache=~/.cache/bazel

###############################################################################
# Local builds + remote cache (shared cache only, for reuse)
build:remote_cache --remote_cache=http://gorgophone.rhpc.nki.nl:8080
build:remote_cache --remote_timeout=60
build:remote_cache --remote_accept_cached=true
build:remote_cache --remote_upload_local_results=true
build:remote_cache --remote_download_outputs=minimal
build:remote_cache --remote_local_fallback=false
###############################################################################
# Fully remote builds (remote execution + remote cache)
build:remote_build --remote_executor=grpc://gorgophone.rhpc.nki.nl:8980
build:remote_build --remote_cache=grpc://gorgophone.rhpc.nki.nl:8980
build:remote_build --remote_timeout=60
build:remote_build --remote_accept_cached=true
build:remote_build --remote_upload_local_results=true
build:remote_build --remote_download_outputs=minimal

# Optionally only offload specific strategies (customizable)
build:remote_build --spawn_strategy=remote
build:remote_build --strategy=CppCompile=remote
build:remote_build --strategy=Javac=remote
build:remote_build --strategy=GoCompile=remote
