repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    - id: check-ast
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-vcs-permalinks
    - id: check-xml
    - id: check-yaml
      args: [--unsafe]
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
      args: [ '--pragma=# coding=utf-8' ]
    - id: requirements-txt-fixer
    - id: check-added-large-files
      args: [ '--maxkb=500' ]
    - id: sort-simple-yaml
    - id: trailing-whitespace
    - id: no-commit-to-branch
      args: [--branch, main]
    - id: forbid-new-submodules
- repo: https://github.com/pycqa/isort
  rev: 5.8.0
  hooks:
    - id: isort
      name: isort (python)
    - id: isort
      name: isort (cython)
      types: [cython]
    - id: isort
      name: isort (pyi)
      types: [pyi]
-   repo: https://github.com/pycqa/pylint
    rev: v2.8.2
    hooks:
    -   id: pylint
-   repo: https://github.com/psf/black
    rev: 21.5b0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
    - id: mypy
