include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md

recursive-include tests *
recursive-include direct *.cpp *.h *.py *.ini *.npy *.txt *.in *.md
recursive-include . CMakeLists.txt
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.md conf.py Makefile make.bat *.jpg *.png *.gif
